body {
  background-color: rgba(210, 180, 140, 0.36);
  font-family: monospace;
}
#title {
  position: fixed;
  top: 5%;
  left: 5%;
}
#view {
  bottom: 75%;
  width: 80%;
  margin-top: 15%;
  border: 5px solid blue;
  color: white;
  background: black;

}
div.nav-bar {
  border: 5px solid red;
  color: white;
  background: black;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}
div.entry {
white-space: nowrap;
width: 100%;
/*display: inline-block;*/
}
div.nav-bar a {
  color: #03ff03;
  text-decoration-color: #03ff03;
}
form {
  color: black;
}
button {
  color: black;
  font-weight: bold;
}
