<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CodeReview4</title>
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="/js/scripts.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>
    <h2 id="title">Band-Venue Management</h2>
    <div class="container" id="view">
      @RenderBody()
    </div>
    <br>
    <br>
    <div class="nav-bar">
      <p>Click <a href="/">[HERE]</a> to return home</p>
    </div>
  </body>
</html>
